body{
    /*background-image: url(../img/fon1.png);*/
    /*background-attachment: fixed;*/
    /*background-size: cover;*/
    background-color: #f5f5f5;
}

.panelArticle{
    margin-top: 2vh;
    padding-top: 2vh;
    /*box-shadow: 0 0 10px #536DFE;*/
    border: 2px solid #dddaff;
    background-color: #fff;
}

.panelArticle:hover {
    /*box-shadow: 1px 1px 10px;*/
    border: 2px solid #536DFE;
}


#rowViews,
#rowTitle,
#rowContent{
    padding-left: 20px;
    padding-right: 20px;
}

#rowTitle{
    background: linear-gradient(-90deg, #e1f5fe, #80d8ff);
}

#rowImg{
    padding: 2vh;
}

.img-thumbnail{
    max-height: 480px;
    max-width: 95%;
}

#rowContent{
    padding-top: 2vh;
}
